apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-applications
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  project: default
  source:
    directory:
      recurse: true
    path: gitops/istio-apps
    repoURL: https://github.com/cloudcampla/k8s-application-push.git
    targetRevision: HEAD

