apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-gitops-deployment
  labels:
    app: app-gitops
    environment: dev
spec:
  replicas: 5
  selector:
    matchLabels:
      app: app-gitops
  template:
    metadata:
      labels:
        app: app-gitops
        environment: dev
    spec:
      containers:
      - name: app-gitops
        image: nginx:latest
        ports:
        - containerPort: 80
